#container {
    width: 80%;
    margin: 0 auto;
  }
  
  #story-list {
    width: 20%;
    float: left;
  }
  
  #story-text {
    width: 70%;
    padding-left: 20px;
  }
  
  .story {
    cursor: pointer;
  }
  
  .selected {
    font-weight: bold;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #1A120B;
  }
  
  #container {
    width: 80%;
    margin: 50px auto;
    background-color: #3C2A21;
    box-shadow: 0px 0px 20px rgb(38, 39, 37);
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 50px;
    color: rgb(255, 255, 255);
  }
  
  #story-list {
    width: 20%;
    float: left;
    padding: 50px;
  }
  
  #story-list p {
    margin: 0;
    padding: 10px;
    color: rgb(255, 255, 255);
  }
  #story-list p:hover {
    background-color: #D5CEA3;
    color: #3C2A21;
  }
  
  #story-text {
    width: 95%;
    padding: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #1A120B;
    background-color: #D5CEA3;
    margin-top: 2%;
  }
  
  


  #story-list p {
    margin: 0;
    padding: 10px;
    color: rgb(255, 255, 255);
    transition: background-color 0.3s ease-in-out;
  }
  
  #story-text {
    
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .selected {
    background-color: #D5CEA3;
    color: #1A120B;
  }
  
  #story-text.active {
    opacity: 1;
  }
  
  #story-image img{
    width: 50%;
    display: block;
    margin: 0 auto;
  }

  #copyright {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    padding: 10px;
    color: #D5CEA3;
  }